body,html{
	height: 100%;
}
body{
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10% auto 10%;
	background: #EC6F66;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4A47D7, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top right, #4A47D7, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body table{	
		
	text-align: center;
	border: 1px solid none;
	grid-column: 2/2;
	grid-row: 2/2;
	width: 1000px;
	max-width: 1000px;
	display: inline-block;
}
body nav{
	margin-left: 40%;
	grid-column: 2/2;
	grid-row: 3/3;
}

.table th{
	width: 10%;
	background-color: #382D4C;
	color:white;
}
#no{
	width: 10%;
}
table td:nth-child(n){
	column-width: 10%;
}
table td:nth-child(1){
	column-width: 15px;
}
table td:nth-child(n){
	padding-left: 1px;
	margin-left: 1px;
}
table td:nth-child(2){
	padding-left: 1px;
}
table td:nth-child(1) input{
	width:450%;
}
td{
	width:10px ; 
}
tr:nth-child(2n){
	background: white;
}
tr:nth-child(2n+1){
	background-color: #F5F5F5;
}
th{
	background-color: #ddd;
	color:white;	
}
a:hover{
	text-decoration: none;
}

input[type=text]{
	text-indent: 15%;
	caret-color:white;
	text-align: center;
	outline:none;
	font-size:1em;
    border-radius: 999em;
    border:0px;
 	background: #3B294E;
 	color: white;
  	
}

input[type=submit]{
	border-radius: 8px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}