html{
	height: 100%;
}
body{
	color:black;
	font-family: avenir; 
	line-height: 1.6;
	height: 100%;
	width: 100%;
	margin: 0;
}

.container{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns:10% auto 10%;
	grid-template-rows: 11% 80% auto; 
	background: #EC6F66;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4A47D7, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top right, #4A47D7, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.login{
	position: relative;
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	grid-column: 2/3;
	grid-row: 2/3;
	border-radius: 2%;
	width: 100%;
	max-width:100%;
   	display: inline-block;
}
#login{
	position: fixed;
	height: 50%;	
	margin: 0;
	position: absolute;
    top: 50%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
#login #input1{
	position: absolute;
	top:93px;
	left: 10px;
}
#login #input2{
	position: absolute;
	top:133px;
	left: 10px;
}
#login input{
	text-indent: 15%;
	margin-top: 5%;
	width:150% ;
	height: 10%;
	background: #E6E6E6;
	border:none 1px #E6E6E6;
	border-radius: 2%;
}
#login input[type=text]{
	background: #E6E6E6;
}
#login input[type=submit]{
	text-indent: 0;
	margin-top: 10%;
	color:white;
	background: #12C038;
}
#loginbutton{
	width:150% ;
	height: 10%;
	border:none 1px #E6E6E6;
	border-radius: 2%;
	text-indent: 0;
	margin-top: 10%;
	color:white;
	background: #12C038;
}
.result{
	display: none;
	color:purple;
	font-size:40px; 
	margin-top:15%;
	text-align:center;
	word-wrap:break-word;
}
#turnback{
	display: none;
	width:50% ;
	margin-left:25%;
	height: 10%;
	border:none 1px #E6E6E6;
	border-radius: 2%;
	text-indent: 0;
	margin-top: 10%;
	color:white;
	background: #12C038;	
}